<div class="person-item">
  <div class="person-item__col person-item__col--name">
    <span class="person-item__label">Nome</span>
    <span class="person-item__value">{{ person().name }}</span>
  </div>

  <div class="person-item__col">
    <span class="person-item__label">Email</span>
    <span class="person-item__value">{{ person().email }}</span>
  </div>

  <div class="person-item__col">
    <span class="person-item__label">CPF</span>
    <span class="person-item__value person-item__value--badge">{{ person().cpf }}</span>
  </div>

  <div class="person-item__actions">
    <button
      class="person-item__btn person-item__btn--edit"
      title="Editar pessoa"
      (click)="onEdit()">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
      </svg>
    </button>
    <button
      class="person-item__btn person-item__btn--delete"
      title="Excluir pessoa"
      (click)="onDelete()">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="3 6 5 6 21 6"/>
        <path d="M19 6l-1 14a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2L5 6"/>
        <path d="M10 11v6"/>
        <path d="M14 11v6"/>
        <path d="M9 6V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2"/>
      </svg>
    </button>
  </div>
</div>
