<div class="person-item">
  <div class="person-item__col person-item__col--name">
    <span class="person-item__label">Nome</span>
    <span class="person-item__value">{{ person().name }}</span>
  </div>

  <div class="person-item__col">
    <span class="person-item__label">Email</span>
    <span class="person-item__value">{{ person().email }}</span>
  </div>

  <div class="person-item__col">
    <span class="person-item__label">CPF</span>
    <span class="person-item__value person-item__value--badge">{{ person().cpf }}</span>
  </div>
</div>
