button {
    padding: 12px 20px;
    border-radius: 10px;
    background-color: var(--black);
    color: white;

    border: none;
    min-width: 200px;

    font-size: 15px;
    font-weight: 500;

    transition: all 0.2s ease;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #333;
}