<nav class="navbar">
    <h1 class="logo" routerLink="/">CEEINTER</h1>

    <div class="nav-links">
        @if (isLoggedIn()) {
            <a routerLink="/templates" class="nav-link" routerLinkActive="active">Templates</a>
        }
        <a routerLink="/validate_cert" class="nav-link" routerLinkActive="active">Validar</a>
    </div>

    <div class="nav-actions">
        @if (isLoggedIn()) {
            <app-button [text]="'Logout'" (click)="onLogout()"></app-button>
        } @else {
            <app-button [text]="'Login'" (click)="onLogin()"></app-button>
        }
    </div>
</nav>