<form [formGroup]="magazineForm" (ngSubmit)="handleMagazineFormSubmit()">

    <div class="form-group">
        <label for="name">Nome da Revista</label>
        <input id="name" formControlName="name" placeholder="Ex: Revista de Estudos Interdisciplinares">
        @if(magazineForm.get('name')?.touched && magazineForm.get('name')?.invalid){
        <span class="error">Nome obrigatório (mín. 3 caracteres)</span>
        }
    </div>

    <div class="form-group">
        <label for="issn">ISSN</label>
        <input id="issn" formControlName="issn" placeholder="0000-0000">
        @if(magazineForm.get('issn')?.touched && magazineForm.get('issn')?.invalid){
        <span class="error">ISSN inválido (ex: 1234-567X)</span>
        }
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" placeholder="contato@revista.com">
        @if(magazineForm.get('email')?.touched && magazineForm.get('email')?.invalid){
        <span class="error">Email inválido</span>
        }
    </div>

    <div class="form-group">
        <label for="cnpj">CNPJ <span class="optional">(opcional)</span></label>
        <input id="cnpj" formControlName="cnpj" placeholder="00.000.000/0000-00">
    </div>

    <app-secondary-button [text]="'Cadastrar'" (click)="handleMagazineFormSubmit()"></app-secondary-button>

</form>