.form-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 300px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 14px;
    font-weight: 500;
}

input,
select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #111;
}
.error {
    color: #e53935;
    font-size: 12px;
}

input.ng-invalid.ng-touched {
    border: 1px solid #e53935;
}