<form [formGroup]="magazineForm" (ngSubmit)="handleMagazineFormSubmit()">

    <div class="form-group">
        <label>Nome da Revista</label>
        <input formControlName="name">

        @if(magazineForm.get('name')?.touched && magazineForm.get('name')?.invalid){
        <span class="error">Nome obrigatório (mín. 3 caracteres)</span>
        }
    </div>

    <div class="form-group">
        <label>ISSN</label>
        <input formControlName="issn" placeholder="0000-0000">
        @if(magazineForm.get('issn')?.touched && magazineForm.get('issn')?.invalid){
        <span class="error">ISSN inválido (ex: 1234-567X)</span>
        }
    </div>

    <div class="form-group">
        <label>ISBN</label>
        <input formControlName="isbn">
        @if(magazineForm.get('isbn')?.touched && magazineForm.get('isbn')?.invalid){
        <span class="error">ISBN obrigatório</span>
        }
    </div>

    <div class="form-group">
        <label>Email</label>
        <input formControlName="email">
        @if(magazineForm.get('email')?.touched && magazineForm.get('email')?.invalid){
        <span class="error">Email inválido</span>
        }
    </div>
    <app-secondary-button [text]="'Cadastrar'" (type)="'submit'"></app-secondary-button>

</form>